.personal-info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.personal-info-container h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 30px;
}

.profile {
    display: flex;
    align-items: start;
    gap: 1rem;
}

.profile img {
    border-radius: 100%;
}

.field-container {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.field-row {
    display: flex;
    gap: 1.5rem;
}

.field-group {
    position: relative;
}

.field-group label {
    font-size: 11px;
    line-height: 14px;
    position: absolute;
    transform: translateY(-50%);
    left: 0.5rem;
    background: #fff;
    padding: 0 0.2rem;
    color: #4c4c55;
}

.field-group input {
    padding: .5rem .75rem;
    border: 1px solid #e3e3e4;
    border-radius: .25rem;
    color: #4c4c55;
    font-size: 13px;
    line-height: 1.75rem;
    width: 100%;
}

.profile p {
    font-size: 13px;
    line-height: 22px;
    color: #4c4c55;
}

a {
    color: #1688FE;
}

.fx-grow {
    flex-grow: 1;
}
.pd-rt {
    padding-right: 1rem;
}
.w-50 {
    width: 50%;
}

.btn-prm {
    border-radius: 4px;
    background-color: #1688FE;
    color: #fff;
    outline: none;
    border: none;
    width: 170px;
    height: 40px;
}