aside {
    width: 240px;
    border-right: 1px solid #ececed;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.logo {
    border-bottom: 1px solid #ececed;
    padding: .75rem .5rem;
}

nav {
    padding: .75rem .5rem;
    flex-grow: 1;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    gap: .25rem;
    padding: 6px 4px;
}

.menu-item-header{
    font-size: 12px;
    color: #14141F;
    line-height: 20px;
}

.menu-item {
    font-size: 12px;
    color: #4C4C55;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.selection {
    position: relative;
    height: 1rem;
    width: 1rem;

}

.selection:after {
    content: '⭐️';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
}

.selection input[type="checkbox"] {
    display: none;
}

.rounded-icon-container {
    border: 1px solid #a1a1a5;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account {
    border-top: 1px solid #ececed;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.user-detail {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.user-pic {
    border-radius: 100%;
}

.user-name {
    font-size: 12px;
    line-height: 20px;
    color: #4C4C55;
    font-weight: 500;
}

.icon-btn {
    background-color: transparent;
    border: none;
    outline: none;
}

